.page {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  text-align: center;

  font-size: 7vh;
  font-weight: 700;

  color: aliceblue;
}

.alice {
  position: fixed;

  bottom: 0;
  left: 50%;

  transform: translateX(-50%);

  font-size: 1rem;
}
